<!-- start how it work section -->
<section class="bg-light-gray">
  <div class="container">
    <div class="section-heading">
      <h3>Como Funciona</h3>
    </div>
  </div>
  <div class="container-fluid no-padding xs-padding-15px-lr">
    <div class="horizontaltab tab-style">
      <ul class="resp-tabs-list hor_1">
        <li><i class="far fa-chart-bar text-theme-color"></i><span class="display-block xs-display-inline-block">Análisis</span></li>
        <li><i class="fas fa-code text-theme-color"></i><span class="display-block xs-display-inline-block">Desarollo</span></li>
        <li><i class="fas fa-rocket text-theme-color"></i><span class="display-block xs-display-inline-block">Lanzamiento</span></li>
      </ul>
      <div class="resp-tabs-container hor_1">
        <div>
          <div class="container">
            <div class="row">
              <div class="col-lg-5 sm-margin-20px-bottom xs-margin-15px-bottom sm-text-center">
                <img src="assets/img/banners/analisis.jpg" alt="">
              </div>
              <div class="col-lg-5 offset-lg-1">

                <h5>Análisis</h5>
                <p class="text-justify step-small-paragraph">Efectuamos un levantamiento de los principales procesos de su empresa para poder identificar:</p>

                <ul class="text-justify step-small-paragraph list-style no-margin-bottom">
                  <li><strong>Problemáticas</strong>
                    <ul>
                        Que son las principales falencias en automatización en sus procesos que afectan
                        el crecimiento y objetivos de la organización.
                    </ul>
                  <li><strong>Alcances</strong>
                    <ul>
                      Determinación de la configuración ideal de nuestra solución para el óptimo
                      funcionamiento de su organización, y con ello aseguramos una implementación exitosa.
                    </ul>
                  </li>
                  <li><strong>Personalización</strong>
                   <ul>
                     modificaciones y/o integraciones de nuestra solución con sus actuales sistemas de
                     información para un integración eficiente y completa de sus procesos.
                   </ul>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="container">
            <div class="row">
              <div class="col-lg-5 sm-margin-20px-bottom xs-margin-15px-bottom order-lg-1 order-2">
                <h5>Implementación</h5>
                <p class="step-paragraph text-justify">Contamos con un Equipo de Alto Rendimiento (EAR)  el cual se encargara del despliegue y desarrollo de todas actividades necesarias para la puesta en marcha
                  de nuestra solución, logrando las mejoras esperadas en su organización.
                </p>

              </div>
              <div class="col-lg-5 offset-lg-1 order-lg-2 order-1 sm-text-center sm-margin-20px-bottom">
                <img src="assets/img/banners/desarrollo.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="container">
            <div class="row">
              <div class="col-lg-5 sm-margin-20px-bottom xs-margin-15px-bottom sm-text-center">
                <img src="assets/img/banners/lanzamiento.jpg" alt="">
              </div>
              <div class="col-lg-5 offset-lg-1">
                <h5>Capacitación</h5>
                <p class="step-paragraph text-justify">
                  Realizamos el entrenamiento a su personal para para el correcto uso de los diferentes módulos del sistema, así como la habilitación
                  de un acceso paralelo para que el personal pueda afianzar los conocimientos adquiridos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end how it work section -->
