<!-- start contact section -->
<section class="parallax cover-background" data-overlay-dark="7" data-background="assets/img/banner/bg9.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-center center-col">
        <h4 class="text-white sm-margin-20px-bottom">Haven't found what you like? feel free to contact</h4>
        <p class="text-white font-size16 xs-font-size14 margin-30px-bottom">We always try to provide you our best business consulting service.</p>
        <a href="javascript:void(0)" class="butn"><span>Buy Now</span></a>
      </div>

    </div>
  </div>
</section>
<!-- end contact section -->
