
<!-- Start Header -->
<header class="header onepage-header" data-scroll-index="0">

  <div class="container-fluid">

    <div class="menu_area alt-font">

      <!-- Start Navbar -->
      <nav class="navbar navbar-expand-lg no-padding">

        <div class="container sm-position-relative">

          <div class="navbar-header navbar-header-custom">
            <!-- start logo -->
            <a href="javascript:void(0)"
               data-scroll-nav="0"
               class="navbar-brand white-logo">
              <img id="logo" src="assets/img/logos/new-logo.png" alt="logo"></a>
            <!-- end logo -->
          </div>

          <div class="navbar-toggler"></div>

          <ul class="navbar-nav ml-auto" id="nav">
            <li class="nav-item">
              <a (click)="toHome()" class="nav-link cursor-pointer">Inicio</a>
            </li>
            <li class="nav-item">
              <a (click)="toServices()" class="nav-link cursor-pointer">Servicios</a>
            </li>
            <li class="nav-item">
              <a (click)="toAboutUs()" class="nav-link cursor-pointer">Quienes somos</a>
            </li>
            <li class="nav-item">
              <a (click)="toSteps()"class="nav-link cursor-pointer" >Como funciona</a>
            </li>
            <li class="nav-item">
              <a (click)="toPricing()" class="nav-link cursor-pointer" >Planes</a>
            </li>
            <li class="nav-item">
              <a (click)="toHome()" class="nav-link cursor-pointer"  >Contacto</a>
            </li>
          </ul>
        </div>

      </nav>
      <!-- End Navbar  -->
    </div>

  </div>

</header>
<!-- End Header -->

<!--&lt;!&ndash; start header section &ndash;&gt;-->
<!--<header class="position-absolute width-100 index-header sm-position-relative">-->
<!--  <div class="navbar-default">-->
<!--    &lt;!&ndash; start top search &ndash;&gt;-->
<!--    <div class="top-search bg-theme">-->
<!--      <div class="container">-->
<!--        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">-->
<!--          <div class="input-group">-->
<!--                                <span class="input-group-addon cursor-pointer">-->
<!--                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>-->
<!--                                </span>-->
<!--            <input type="text" class="search-form_input form-control margin-10px-lr" name="s" autocomplete="off" placeholder="Type & hit enter...">-->
<!--            <span class="input-group-addon close-search"><i class="fas fa-times font-size18 margin-5px-top"></i></span>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; end top search &ndash;&gt;-->

<!--    <div  id="mainFace" class="container">-->
<!--      <div class="row align-items-center">-->
<!--        <div class="col-12 col-lg-12">-->
<!--          <div class="menu_area alt-font">-->
<!--            <nav class="navbar navbar-expand-lg navbar-light no-padding">-->

<!--              <div class="navbar-header navbar-header-custom">-->
<!--                &lt;!&ndash; start logo &ndash;&gt;-->
<!--                <a href="#home" class="navbar-brand"><img id="logo" src="assets/img/logos/logo-innovo.png" alt="logo"></a>-->
<!--                &lt;!&ndash; end logo &ndash;&gt;-->
<!--              </div>-->

<!--              <div class="navbar-toggler"></div>-->

<!--              &lt;!&ndash; start menu Area &ndash;&gt;-->
<!--              <ul class="navbar-nav ml-auto" id="nav" style="display: none;">-->
<!--                <li><a href="#home">Inicio</a></li>-->
<!--                <li><a href="#services">Servicios</a></li>-->
<!--                <li><a href="#aboutUs">Quienes somos</a></li>-->
<!--                <li><a href="#steps">Como funciona</a></li>-->
<!--                <li><a href="#pricing">Planes</a></li>-->
<!--                <li><a href="contact.html">Contáctanos</a></li>-->
<!--              </ul>-->
<!--              &lt;!&ndash; end menu Area &ndash;&gt;-->

<!--              &lt;!&ndash; start attribute navigation &ndash;&gt;-->
<!--              <div class="attr-nav sm-no-margin sm-margin-65px-right">-->
<!--                <ul>-->
<!--                  <li class="search"><a href="javascript:void(0)"><i class="fas fa-search"></i></a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--              &lt;!&ndash; end attribute navigation &ndash;&gt;-->

<!--            </nav>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->
<!--&lt;!&ndash; end header section &ndash;&gt;-->



