<!-- start service section -->
<section class="bg-light-gray">
  <div class="container">
    <div class="text-center section-heading">
      <h2>Servicios ideales para tu negocio</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".2s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <i class="fas fa-drafting-compass text-theme-color"></i>
            <div class="box-circle-large"></div>
            <div class="box-circle-small"></div>
          </div>
          <h3 class="margin-10px-bottom font-size22 md-font-size20 xs-font-size18">Creative Design</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">We provide best and solid solution for your impressive business.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".4s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <i class="fab fa-accusoft text-theme-color"></i>
            <div class="box-circle-large"></div>
            <div class="box-circle-small"></div>
          </div>
          <h3 class="margin-10px-bottom font-size22 md-font-size20 xs-font-size18">Responsive Layout</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">We provide best and solid solution for your impressive business.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <i class="fas fa-chart-pie text-theme-color"></i>
            <div class="box-circle-large"></div>
            <div class="box-circle-small"></div>
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">Fast Services</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24">We provide best and solid solution for your impressive business.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end service section -->
