<!-- start service section -->
<section class="bg-light-gray">
  <div class="container">
    <div class="text-center section-heading">
      <h2>Servicios ideales para tu negocio</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".2s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/DASHBOARD.svg" alt="indicadores">
          </div>
          <h3 class="margin-10px-bottom font-size22 md-font-size20 xs-font-size18">INDICADORES
          </h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-center">
            Inteligencia Gerencial que tu
            negocio necesita donde podrás
            Visualizar los principales
            indicadores para tomar
            el control.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".4s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/CONFIGURACION.svg" alt="configuracion">
          </div>
          <h3 class="margin-10px-bottom font-size22 md-font-size20 xs-font-size18">CONFIGURACIÓN</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-center">
            Registro y Actualización de Maestros
            tales como clientes, proveedores, empleados,
            productos entre otros, para que tengas la autonomía que tu negocio necesita.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/VENTAS.svg" alt="ventas">
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">VENTAS</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-justify">Diversas modalidades de Ventas
            para canales B2B y B2C
            Punto de Venta
            Cotizaciones
            Pre-Venta / Auto-Venta
            y mucho más.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/COMPRAS.svg" alt="compras">
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">COMPRAS</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-center">
            Compras de Mercadería nacional, extranjera
            y Registro de Gastos asociados a proyectos,
            centros de costos, unidades de negocio, entre otros
            para tener claramente identificado todos los gastos de la compañía.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/logos/logo-Morado.svg" alt="proceso">
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">PROYECTOS
          </h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-justify">
            Lleva el control de tus ingresos y tus gastos de tus
            proyectos y compáralos con tu presupuesto y el avance de las actividades.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/ALMACEN.svg" alt="almacen">
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">INVENTARIOS</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-justify">
            Administra eficientemente tu mercadería, clasificándolo y organizándolo
            en diferentes almacenes físicos y/o locaciones, controlando series, lotes,
            tallas  y fechas de vencimiento.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/REPARTO.svg" alt="reparto">
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">REPARTO</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-justify">Programa la entrega de
            los pedidos en tus unidades
            de reparto de manera manual o automática según tus criterios
            de distribución.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/FACTURACION.svg" alt="facturacion">
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">FACTURACIÓN</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-justify">
            Facturacion electrónica, tickets, boletas, entre otros
            Manejamos Todos los tipos de comprobantes de pago para el mercado peruano.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 margin-20px-bottom">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/TESORERIA.svg" alt="tesoreria">
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">TESORERIA</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-justify">
            Controla tu caja y bancos, registra la cobranza de tus
            clientes y pagos a proveedores, administra tu caja chica y mucho más.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 ">
        <div class="services-block padding-45px-tb padding-25px-lr sm-padding-35px-tb sm-padding-20px-lr xs-padding-30px-tb xs-padding-15px-lr last-paragraph-no-margin wow fadeInUp" data-wow-delay=".6s">
          <div class="title-box margin-25px-bottom sm-margin-15px-bottom">
            <img src="assets/img/ExportacionSVG/CONTABILIDAD.svg" alt="contabilidad">
          </div>
          <h3 class="margin-15px-bottom font-size22 md-font-size20 xs-font-size18">CONTABILIDAD</h3>
          <p class="font-size16 line-height-28 sm-font-size14 sm-line-height-24 text-justify">
            Envió de información a tu software contable de todas las
            operaciones compras, inventarios, ventas, cobranzas, tesorería.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end service section -->
