<!-- start pricing table -->
<section class="pricing-table">
  <div class="container">
    <div class="section-heading">
      <h3>Nuestros Planes </h3>
    </div>

    <!-- start pricing content -->
    <div class="pricing-content">
      <div class="row">
        <!-- Start Single Item -->
        <div class="col-lg-4 sm-margin-30px-bottom wow fadeInRight" data-wow-delay=".2s">
          <div class="single-plan text-center">
            <div class="head-plan">
              <h4 class="font-size22 sm-font-size20 xs-font-size18">Génesis</h4>
            </div>
            <div id="accordionPrice">


            <div class="body-plan">
              <div class="price-plan">
                <h3><sup>s/
                </sup>75</h3>
                <span>Mensual</span>
                <i class="fa fa-user"></i>
              </div>
              <div class="feat-plan has-sub">
                <ul>

                  <li>  <a appFlip data-toggle="collapse"
                           href="#collapseAlmacen1"
                           role="button" aria-expanded="false"
                           aria-controls="collapseAlmacen1">
                    Almacén
                    <i  class="fa fa-chevron-down ml-2 "></i>
                  </a>
                    <ul class="submenu collapse" aria-labelledby="collapseAlmacen1"
                        data-parent="#accordionPrice"  id="collapseAlmacen1" >
                      <li style="padding-top: 15px">Movimiento</li>
                      <li>Traslados</li>
                      <li>Informes / Reportes</li>
                    </ul>
                  </li>

                  <li>
                    <a appFlip data-toggle="collapse"
                          href="#collapseCompras1"
                          role="button" aria-expanded="false"
                          aria-controls="collapseCompras1">
                      Compras
                    <i  class="fa fa-chevron-down ml-2 "></i>
                  </a>
                    <ul class="submenu collapse" aria-labelledby="collapseCompras1" data-parent="#accordionPrice"   id="collapseCompras1" >
                      <li style="padding-top: 15px">Informes</li>
                    </ul>
                  </li>
                  <li>
                    <a appFlip data-toggle="collapse"
                       href="#collapseVenta1"
                       role="button" aria-expanded="false"
                       aria-controls="collapseVenta1">
                      Venta
                      <i  class="fa fa-chevron-down ml-2 "></i>
                    </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice"  id="collapseVenta1" >
                      <li style="padding-top: 15px">Venta</li>
                      <li>Punto de Venta</li>
                      <li>Venta de Oficina</li>
                      <li>Informes</li>
                    </ul>
                  </li>
                  <li> <a appFlip data-toggle="collapse"
                          href="#collapseTesoreria1"
                          role="button" aria-expanded="false"
                          aria-controls="collapseTesoreria1">
                    Tesorería
                    <i  class="fa fa-chevron-down ml-2 "></i>
                  </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice"  id="collapseTesoreria1" >
                      <li style="padding-top: 15px">Caja</li>
                      <li>Caja Chica</li>
                      <li>Depósitos / Letras</li>
                      <li>Informes / Reportes</li>
                    </ul>
                  </li>
                  <li>Factura Electrónica</li>
                </ul>
              </div>
            </div>
            <div class="footer-plan">
              <a href="javascript:void(0)" class="butn">
                <span>Más info</span>
              </a>
            </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Start Single Item -->
        <div class="col-lg-4 sm-margin-30px-bottom wow fadeInRight" data-wow-delay=".4s">
          <div class="single-plan text-center">
            <div class="head-plan">
              <h4 class="font-size22 sm-font-size20 xs-font-size18">Evolution</h4>
            </div>
            <div id="accordionPrice2">


            <div class="body-plan">
              <div class="price-plan">
                <h3><sup>s/</sup>125</h3>
                <span>Mensual</span>
                <i class="fa fa-briefcase"></i>
              </div>
              <div class="feat-plan">
                <ul>
                  <li>
                    <a appFlip2 data-toggle="collapse"
                       class="collapsed"
                       href="#collapseAlmacen2"
                       role="button" aria-expanded="false"
                       aria-controls="collapseAlmacen2">
                      Almacén
                      <i  class="fa fa-chevron-down ml-2 "></i>
                    </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice2"
                        id="collapseAlmacen2" >
                      <li style="padding-top: 15px">Movimiento</li>
                      <li>Traslados</li>
                      <li>Reposición de Inventarios</li>
                      <li>Órdenes de Producción</li>
                      <li>Informes / Reportes</li>
                    </ul>
                  </li>
                  <li>
                    <a appFlip2 data-toggle="collapse"
                       class="collapsed"
                       href="#collapseCompras2"
                       role="button" aria-expanded="false"
                       aria-controls="collapseCompras2">
                      Compras
                      <i  class="fa fa-chevron-down ml-2 "></i>
                    </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice2"  id="collapseCompras2" >
                      <li style="padding-top: 15px">Movimiento</li>
                      <li>Gastos</li>
                      <li>Órdenes de Compras</li>
                      <li>Informes</li>
                    </ul>
                  </li>
                  <li> <a appFlip2 data-toggle="collapse"
                          class="collapsed"
                          href="#collapseVenta2"
                          role="button" aria-expanded="false"
                          aria-controls="collapseVenta2">
                    Venta
                    <i  class="fa fa-chevron-down ml-2 "></i>
                  </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice2"  id="collapseVenta2" >
                      <li style="padding-top: 15px">Cotización</li>
                      <li>Pedidos</li>
                      <li>Venta</li>
                      <li>Venta de Oficina</li>
                      <li>Informes</li>
                    </ul></li>
                  <li>
                    <a appFlip2 data-toggle="collapse"
                       class="collapsed"
                         href="#collapseTesoreria2"
                         role="button" aria-expanded="false"
                         aria-controls="collapseTesoreria2">
                    Tesorería
                    <i  class="fa fa-chevron-down ml-2 "></i>
                  </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice2"  id="collapseTesoreria2" >
                      <li style="padding-top: 15px">Caja</li>
                      <li>Caja Chica</li>
                      <li>Depósitos / Letras</li>
                      <li>Informes / Reportes</li>
                    </ul></li>
                  <li><a appFlip2 data-toggle="collapse"
                         class="collapsed"
                         href="#collapseProcesos2"
                         role="button" aria-expanded="false"
                         aria-controls="collapseProcesos2">
                    Procesos
                    <i  class="fa fa-chevron-down ml-2 "></i>
                  </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice2"  id="collapseProcesos2" >
                      <li style="padding-top: 15px">Integración con Software Contable</li>
                    </ul></li>
                  <li>Factura Electrónica</li>
                  <li>Operaciones Ilimitadas</li>
                </ul>
              </div>
            </div>
            <div class="footer-plan">
              <a href="javascript:void(0)" class="butn">
                <span>Buy Now</span>
              </a>
            </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Start Single Item -->
        <div class="col-lg-4 wow fadeInRight" data-wow-delay=".6s">
          <div class="single-plan text-center">
            <div class="head-plan">
              <h4 class="font-size22 sm-font-size20 xs-font-size18">Business ERP</h4>
            </div>



            <div class="body-plan">
              <div class="price-plan">
                <h3><sup></sup>Consultar</h3>
                <br>
                <i class="fa fa-rocket"></i>
              </div>
              <div class="feat-plan">
                <ul id="accordionPrice3">
                  <li>
                    <a  data-toggle="collapse"
                       href="#collapseAlmacen3"
                       role="button" aria-expanded="false"
                       aria-controls="collapseAlmacen3">
                      Almacén
                      <i  class="fa fa-chevron-down ml-2 "></i>
                    </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice3"  id="collapseAlmacen3" >
                      <li style="padding-top: 15px">Movimiento</li>
                      <li>Traslados</li>
                      <li>Reposición de Inventarios</li>
                      <li>Órdenes de Producción</li>
                      <li>Informes / Reportes</li>
                    </ul>
                  </li>
                  <li>
                    <a  data-toggle="collapse"
                       href="#collapseCompras3"
                       role="button" aria-expanded="false"
                       aria-controls="collapseCompras3">
                      Compras
                      <i  class="fa fa-chevron-down ml-2 "></i>
                    </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice3"  id="collapseCompras3" >
                      <li style="padding-top: 15px">Movimiento</li>
                      <li>Gastos</li>
                      <li>Órdenes de Compras</li>
                      <li>Informes</li>
                    </ul>
                  </li>
                  <li> <a  data-toggle="collapse"
                          href="#collapseVenta3"
                          role="button" aria-expanded="false"
                          aria-controls="collapseVenta3">
                    Venta
                    <i  class="fa fa-chevron-down ml-2 "></i>
                  </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice3"  id="collapseVenta3" >
                      <li style="padding-top: 15px">Cotización</li>
                      <li>Pedidos</li>
                      <li>Venta</li>
                      <li>Venta de Oficina</li>
                      <li>Informes</li>
                    </ul></li>
                  <li>
                    <a  data-toggle="collapse"
                       href="#collapseTesoreria3"
                       role="button" aria-expanded="false"
                       aria-controls="collapseTesoreria3">
                      Tesorería
                      <i  class="fa fa-chevron-down ml-2 "></i>
                    </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice3"  id="collapseTesoreria3" >
                      <li style="padding-top: 15px">Caja</li>
                      <li>Caja Chica</li>
                      <li>Depósitos / Letras</li>
                      <li>Informes / Reportes</li>
                    </ul></li>
                  <li><a  data-toggle="collapse"
                         href="#collapseProcesos3"
                         role="button" aria-expanded="false"
                         aria-controls="collapseProcesos3">
                    Procesos
                    <i  class="fa fa-chevron-down ml-2 "></i>
                  </a>
                    <ul class="submenu collapse" data-parent="#accordionPrice3"  id="collapseProcesos3" >
                      <li style="padding-top: 15px">Integración con Software Contable</li>
                      <li> DATAMART Inteligencia en Negocios</li>
                    </ul></li>
                  <li>Factura Electrónica</li>
                  <li>Módulos de importación</li>
                  <li>Módulos de Pedidos</li>
                  <li>Tomador de Pedidos</li>
                  <li>Operaciones Ilimitadas</li>
                </ul>
              </div>
            </div>
            <div class="footer-plan">
              <a href="javascript:void(0)" class="butn">
                <span>Buy Now</span>
              </a>
            </div>
            </div>
        </div>
        <!-- End Single Item -->
      </div>
      <!-- end row -->
    </div>
    <!-- end pricing content -->

  </div>

</section>
<!-- end pricing table -->
