

<!--<div id="preloader">-->
<!--  <div class="row loader">-->
<!--    <div class="loader-icon"></div>-->
<!--  </div>-->
<!--</div>-->
<!-- end page loading -->

<div class="main-wrapper">

  <app-header></app-header>

  <app-main-section id="home"></app-main-section>

  <app-service-section id="services" ></app-service-section>

  <app-innovate-bussiness id="aboutUs" ></app-innovate-bussiness>

  <app-contact-section ></app-contact-section>

  <app-steps-section id="steps"></app-steps-section>

  <app-pricing-section id="pricing"></app-pricing-section>

  <app-client-section ></app-client-section>

<app-footer></app-footer>

</div>
<!-- end main-wrapper section -->

<!-- start scroll to top -->
<a (click)="toHome()" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->
