<!-- start footer section -->
<footer>
  <div class="container">
    <div class="row margin-30px-bottom padding-30px-bottom border-bottom border-color-light-white">
      <div class="col-lg-4 col-md-12 sm-margin-30px-bottom text-center">
        <h3 class="footer-title-style text-white">Teléfono</h3>
        <p class="font-size16 sm-font-size14">975 065 013</p>
      </div>

      <div class="col-lg-4 col-md-12 sm-margin-30px-bottom text-center">
        <h3 class="footer-title-style text-white">Email</h3>
        <p class="font-size16 sm-font-size14">addyour@emailhere</p>
      </div>

      <div class="col-lg-4 col-md-12 text-center">
        <h3 class="footer-title-style text-white">Dirección</h3>
        <p class="font-size16 sm-font-size14">74 Guild Street 542B, Town MT.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <ul class="social-icon-style2 no-margin">
          <li>
            <a target="_blank" href="https://www.facebook.com/INNOVOPERU.ERP/?ref=page_internal"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/innovo-erp/"  target="_blank" ><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="footer-bar">
    <div class="container">
      <p class="xs-font-size13">Copyright  &copy; Innovo {{year}}</p>
    </div>
  </div>
</footer>
<!-- end footer section -->
